# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyc
*.so
*.egg-info/
.eggs/
*.egg

# Virtual environments
venv/
.venv/
ENV/
.env/

# Django
*.log
local_settings.py
media/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# dotenv files
*.env

# SQLite (if used locally)
*.sqlite3
