{% for field in fields %}
  <div class="col-md-{{ field.col|default:6 }} mb-3">
    {% if field.type == "textarea" %}
      {% include "components/forms/textarea.html" with label=field.label name=field.name required=field.required value=field.value placeholder=field.placeholder class=field.class id=field.id style=field.style|default:"min-height: 150px;" attributes=field.attributes no_wrapper=True %}

    {% elif field.type == "checkbox" %}
      {% include "components/forms/checkbox.html" with label=field.label name=field.name id=field.name required=field.required checked=field.default value=field.value attributes=field.attributes switch=True no_wrapper=True %}

    {% elif field.type == "select" %}
      {% include "components/forms/select.html" with label=field.label name=field.name required=field.required value=field.value data_field_name=field.name data_url=field.url data_modal_id=modal_id attributes=field.attributes no_wrapper=True %}
    {% elif field.type == "static_select" %}
      {% include "components/forms/select.html" with label=field.label name=field.name required=field.required value=field.value options=field.options attributes=field.attributes no_wrapper=True %}
    {% elif field.type == "datetime" %}
      {% include "components/forms/input.html" with type="datetime-local" label=field.label name=field.name required=field.required value=field.value placeholder=field.placeholder class=field.class id=field.id min=field.min max=field.max step=field.step prefix=field.prefix suffix=field.suffix attributes=field.attributes no_wrapper=True %}
    {% elif field.type == "file" %}
      {% include "components/forms/file.html" with label=field.label name=field.name required=field.required class=field.class id=field.id accept=field.accept multiple=field.multiple attributes=field.attributes no_wrapper=True %}
    {% else %}
      {% include "components/forms/input.html" with type=field.type label=field.label name=field.name required=field.required value=field.value placeholder=field.placeholder class=field.class id=field.id min=field.min max=field.max step=field.step prefix=field.prefix suffix=field.suffix attributes=field.attributes no_wrapper=True %}
    {% endif %}
  </div>
{% endfor %}
